<?xml version="1.0"?>
<!--
/**
 * Safecharge Safecharge events config.
 *
 * @category Safecharge
 * @package  Safecharge_Safecharge
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_invoice_register">
        <observer name="safecharge_capture_order_status_update"
                  instance="Safecharge\Safecharge\Observer\Sales\Order\Invoice\Register"/>
    </event>
    <event name="sales_order_invoice_pay">
        <observer name="safecharge_invoice_pay"
                  instance="Safecharge\Safecharge\Observer\Sales\Order\Invoice\Pay"/>
    </event>
    <event name="sales_order_payment_void">
        <observer name="safecharge_void_order_status_update"
                  instance="Safecharge\Safecharge\Observer\Sales\Order\Void\Register"/>
    </event>
</config>