<!--
/**
 * Nuvei Payments payment template.
 *
 * @category Nuvei
 * @package  Nuvei_Payments
 */
-->

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="
                    attr    : {
                        'id': getCode()
                    },
                    value   : getCode(),
                    checked : isChecked,
                    click   : selectPaymentMethod,
                    visible : isRadioButtonVisible()
                " />
        <label class="label" data-bind="attr: {'for': getCode()}">
			<img data-bind="attr: {
					src		: getNuveiIconUrl(),
					alt		: $t('Nuvei Logo'),
					height	: '',
					width	: '50'
				}" class="payment-icon"/>
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
			<!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
				<!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
        </div>
		
		<div class="sc_error" id="nuvei_general_error" style="display: none;">
			<div class="message error">
				<div data-bind="text: $t('General error.')"></div>
			</div>
		</div>
		
		<!-- ko if: applePayData -->
			<div id="nuvei_apple_pay" data-bind="applePayData" style="display: none;">
				<div class="nuvei-apm-method-container">
					<input type="radio" 
						   data-bind="
								checkedValue: applePayData().paymentMethod,
								checked: chosenApmMethod,
								attr: {
									'id': getCode() + '_' + applePayData().paymentMethod,
									'name': getCode() + '_' + applePayData().paymentMethod
								}" />
					
					<label class="label nuvei-apm-method-label" 
						   data-bind="attr: {'for': getCode() + '_' + applePayData().paymentMethod}">

						<span class="nuvei-apm-method-icon">
							<img onerror="this.style.display='none'" data-bind="
								attr: {
									'src': applePayData().logoURL,
									'alt' : $t('Apple Pay')
								}" />
						</span>

						<span class="label nuvei-apm-method-label-title" data-bind="text: $t('Apple Pay')"></span>
					</label>

					<div id="nuvei_apple_pay_error" class="nuvei-apm-method-note" style="display: none; ">
						<!-- ko i18n: "You can not use Apple Pay" --><!-- /ko -->
					</div>
					
					<div>
						<button id="nuvei_apple_pay_btn" 
								type="button" 
								class="action checkout" 
								style="padding: 0; margin: 0; width: auto; height: auto; background: none; border: none; box-shadow: none; margin-top: 12px; display: none;">
							<img onerror="this.style.display='none'" data-bind="
								attr: {
									'src': getApplePayBtnImg(),
									'alt' : $t('Apple Pay')
								}" />
						</button>
					</div>
				</div>
			</div>
		<!--/ko-->

		<h3 data-bind="text: $t('Choose from yours preferred payment methods')" id="nuvei_upos_title"></h3>
		<div id="nuvei_upos" data-bind="foreach: upos">
			<div class="nuvei-apm-method-container">
				<input type="radio" 
					data-bind="
						checkedValue: $data.userPaymentOptionId,
						checked: $parent.chosenApmMethod,
						attr: {
							'id': $parent.getCode() + '_' + $data.userPaymentOptionId,
							'name': $parent.getCode() + '_payment_method',
							'data-upo-name': $data.paymentMethodName
						}" />
				
				<label class="label nuvei-apm-method-label" 
					   data-bind="attr: {'for': $parent.getCode() + '_' + $data.userPaymentOptionId}">
					
					<span class="nuvei-apm-method-icon">
						<img onerror="this.style.display='none'" data-bind="
							attr: {
								'src': $data.logoURL,
								'alt' : $data.name
							}" />
					</span>
                    
					<span class="label nuvei-apm-method-label-title" data-bind="text: $data.store_label"></span>&nbsp;
					
					<span class="minicart-items">
						<span class="secondary">
							<a href="#" data-bind="attr: {
											title: $t('Remove item'),
											'data-upo-id': $data.userPaymentOptionId
										}" 
										class="action delete" 
										click="function(data, event) { $parent.removeUpo($data.userPaymentOptionId); }">
								
								<span data-bind="i18n: 'Remove'"></span>
							</a>
						</span>
					</span>
                </label>
				
				<!-- ko if: ($parent.typeOfChosenPayMethod() === 'upo_cc' && $data.userPaymentOptionId === $parent.chosenApmMethod())-->
					<fieldset data-bind="
						attr: {
							class: 'fieldset payment items ccard ' + $parent.getCode()
						}">

						<div class="" tabindex="1">
							<div class="field number sc_fields" tabindex="1">
								<div data-bind="attr: { id: 'sc_upo_' + $data.userPaymentOptionId + '_cvc'  }"></div>
							</div>
						</div>

						<div class="sc_error">
							<div class="message error">
								<div data-bind="text: $t('Wrong CVC, please try again!')"></div>
							</div>
						</div>
					</fieldset>
				<!--/ko-->
				
				<!-- ko if: ($parent.typeOfChosenPayMethod() === 'upo_apm' && $data.userPaymentOptionId === $parent.chosenApmMethod())-->
					<div class="nuvei-apm-method-note">
						<!-- ko i18n: "Please click 'Place Order' in order to proceed" --><!-- /ko -->
					</div>
				<!-- /ko -->
			</div>
		</div>
		
		<h3 data-bind="text: $t('Choose from the payment options')" id="nuvei_apms_title"></h3>
        <div id="sc_apms" data-bind="foreach: apmMethods">
            <div class="nuvei-apm-method-container">
                <input type="radio" 
					   data-bind="
							checkedValue: $data.paymentMethod,
							checked: $parent.chosenApmMethod,
							attr: {
								'id': $parent.getCode() + '_' + $data.paymentMethod,
								'name': $parent.getCode() + '_payment_method'
							}" />
                
				<label class="label nuvei-apm-method-label" 
					   data-bind="attr: {'for': $parent.getCode() + '_' + $data.paymentMethod}">
					
					<span class="nuvei-apm-method-icon">
						<img onerror="this.style.display='none'" data-bind="
							attr: {
								'src': $data.logoURL,
								'alt' : $data.paymentMethodDisplayName.message
							}" />
					</span>
                    
					<span class="label nuvei-apm-method-label-title" data-bind="text: $t($data.paymentMethodDisplayName.message)"></span>
                </label>

                <!-- ko if: ($data.paymentMethod !== 'cc_card')-->
					<!-- ko if: ($parent.chosenApmMethod() === $data.paymentMethod)-->
						<!-- ko if: ($data.fields.length > 0) -->
							<fieldset data-bind="
								attr: {class: 'fieldset payment items ccard fields-' + $data.paymentMethod},
								foreach: $data.fields"
							>
								<div class="field number">
									<div class="control">
										<input class="input-text" data-bind="attr: {
											placeholder: name.replaceAll('_', ' '),
											type: type,
											name:  name
										}" required="" />
									</div>
								</div>
							</fieldset>
						<!--/ko-->
						
						<!-- ko if: ($data.fields.length == 0 && $data.paymentMethod !== 'ppp_ApplePay') -->
							<div class="nuvei-apm-method-note">
								<!-- ko i18n: "Please click 'Place Order' in order to proceed" --><!-- /ko -->
							</div>
						<!--/ko-->
					<!--/ko-->
                <!--/ko-->

                <!-- ko if: ($data.paymentMethod === 'cc_card' && $parent.typeOfChosenPayMethod() === 'cc_card')-->
					<fieldset data-bind="
						attr: {
							class: 'fieldset payment items ccard ' + $parent.getCode(),
							id: $parent.getCode() + '_form_cc'
						}
						">
						<!-- ko if: ($parent.isShowLegend())-->
							<legend class="legend">
								<span>
									<!-- ko i18n: 'Credit Card Information' --><!-- /ko -->
								</span>
							</legend><br />
						<!-- /ko -->

						<div class="field number">
							<div class="control">
								<input type="text" name="payment[cc_owner]" class="input-text" value="" data-bind="
									attr: {
										id: $parent.getCode() + '_cc_owner',
										title: $t('Credit Card Name'),
										placeholder: $t('Name On Card'),
										'data-container': $parent.getCode() + '-cc-owner',
										'data-validate': JSON.stringify({
											required :true
										})
									},
									value: $parent.creditCardOwner,
									valueUpdate: 'keyup'
							   " />
							</div>
						</div>

						<div id="cc_name_error_msg" class="sc_error">
							<div class="message error">
								<div data-bind="text: $t('Cardholder name is required')"></div>
							</div>
						</div>

						<div class="" tabindex="1" id="sc_cards_fields_holder">
							<div class="field number sc_fields" tabindex="1" id="sc_card_number_holder">
								<div id="sc_card_number"></div>
							</div>

							<div id="cc_num_error_msg" class="sc_error">
								<div class="message error">
									<div data-bind="text: $t('Wrong Card number, please check it again!')"></div>
								</div>
							</div>

							<div class="" tabindex="1" id="sc_date_cvv_holder">
								<div class="field number sc_fields" tabindex="1">
									<div id="sc_card_expiry"></div>
								</div>

								<div class="field number sc_fields" tabindex="1">
									<div id="sc_card_cvc"></div>
								</div>
							</div>

							<div id="cc_error_msg" class="sc_error">
								<div class="message error">
									<div data-bind="text: $t('Wrong date or CVC, please check them again!')"></div>
								</div>
							</div>
						</div>
					</fieldset>
                <!--/ko-->
            </div>
        </div>
		<hr/>
		
		<div id="nuvei_save_upo_cont">
			<label>
				<input type="checkbox" value="0" name="nuvei_save_upo" />&nbsp;
				<span data-bind="i18n: 'Save the payment method as preferred.'"></span>
			</label>
			<hr/>
		</div>
			
        <div class="payment-method-content">
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
					<!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </div>
            
			<div class="actions-toolbar">
                <div class="primary">
                    <button id="nuvei_default_pay_btn" 
							data-role="review-save" 
							type="submit" 
							class="action primary checkout" 
							data-bind="
								attr: {
									title: $t('Place Order')
								},
								click: placeOrder,
								css: {
									disabled: !isPlaceOrderActionAllowed()
								}">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
