<!--
/**
 * Safecharge Safecharge payment template.
 *
 * @category Safecharge
 * @package  Safecharge_Safecharge
 */
-->

<style type="text/css">
	/* try to clean all styles */
	#sc_apms * {
		margin: 0 !important;
		padding: 0 !important;
		font-family: 'arial' !important;
		border: 0 !important;
	}
	
	input[type="radio"] {
		-webkit-appearance: radio !important;
	}
	/* try to clean all styles END */
	
	#sc_apms .safecharge-apm-method-container {
		position: relative !important;
		border-top: 1px solid #cccccc !important;
		padding: 15px 0 !important;
	}
	
	#sc_apms fieldset {
		margin-top: 20px !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
	}
	
	#sc_apms .sc_fields, #sc_apms .field {
		border: 1px solid #cccccc !important;
		display: block !important;
	}
	
	#sc_apms .field {
		margin-bottom: 10px !important;
		margin-right: 5px !important;
	}
	
	#sc_apms .field input {
		width: 100% !important;
		height: 32px;
		padding-left: 10px !important;
		background-color: transparent !important;
	}
	
	input#safecharge_cc_owner::placeholder {
        color: grey !important;
        font-size: 15px !important;
		margin-left: 10px !important;
    }
	
    .SfcField {
        border: 1px solid #c2c2c2 !important;
    }
	
	#sc_cards_fields_holder { position: relative; }
	
	#sc_date_cvv_holder {
		position: absolute;
		right: 0px;
		top: 0;
	}
	
	#sc_card_number, #sc_card_expiry, #sc_card_cvc {
		padding-top: 7px !important;
		padding-bottom: 1px !important;
		padding-left: 9px !important;
		padding-right: 9px !important;
	}
	
	#sc_apms #sc_card_number_holder {
		width: 60% !important;
		display: inline-block !important;
	}
	
	#sc_date_cvv_holder {
		width: 38% !important;
		/*float: right;*/
	}
	
	#sc_date_cvv_holder .sc_fields {
		width: 46%;
	}
	
	#sc_apms #sc_date_cvv_holder .sc_fields:first-child {
		float: right;
	}
	
	#sc_date_cvv_holder .sc_fields:last-child {
		float: left;
	}
	
	#sc_apms label {
		width: 90% !important;
	}
	
	#sc_apms label img {
		max-height: 25px !important;
		height: 100% !important;
	}
	
	.safecharge-apm-method-icon { width: auto !important; }
	
	#sc_apms .safecharge-apm-method-note {
		font-style: italic !important;
		margin-left: 10px !important;
		margin-top: 10px !important;
	}
    
    .SfcField iframe {
		height: 24px !important;
    }
    
    .sfcModal-dialog {
        width: 50% !important;
        margin: 0 auto !important;
        margin-top: 10% !important;
    }
    
    .is-in {
        z-index: 9999 !important;
    }
	
	#cc_error_msg, #sc_apms .sc_error {
		display: none;
		border: 1px solid #cccccc !important;
	}
	
	#cc_error_msg .message.error, #sc_apms .sc_error .message.error {
		padding: 8px 12px 8px 45px !important;
		font-size: 15px !important;
	}
	
	#sc_apms .sc_error {
		margin-bottom: 10px !important;
		margin-right: 5px !important;
	}
	
	#sc_apms .sc_error .message.error { padding-bottom: 11px !important; }
	#sc_apms .sc_error .message.error div { padding-top: 2px !important; }
	
	@media screen and (max-width: 880px) {
		#sc_apms #sc_card_number_holder {
			width: auto !important;
			display: block !important;
			margin-right: 5px !important;
		}
		
		#sc_date_cvv_holder {
			/*float: none;*/
			display: block !important;
			width: 100% !important;
			position: relative;
		}
		
		#sc_apms #sc_date_cvv_holder .sc_fields:first-child {
			float: none;
			display: inline-block !important;
		}
		
		#sc_date_cvv_holder .sc_fields {
			width: 48%;
		}
	}
	
	@media screen and (max-width: 450px) {
		#sc_date_cvv_holder .sc_fields {
			width: 45%;
		}
	}
</style>

<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio" data-bind="
                    attr    : {
                        'id': getCode()
                    },
                    value   : getCode(),
                    checked : isChecked,
                    click   : selectPaymentMethod,
                    visible : isRadioButtonVisible()
                " />
        <label class="label" data-bind="attr: {'for': getCode()}">
            <span data-bind="text: getTitle()"></span>
        </label>
    </div>

    <div class="payment-method-content">
        <!-- ko foreach: getRegion('messages') -->
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <!--/ko-->

        <div class="payment-method-billing-address">
            <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template: getTemplate() -->
            <!-- /ko -->
            <!--/ko-->
        </div>

        <div id="sc_apms" data-bind="foreach: apmMethods">
            <div class="safecharge-apm-method-container">
                <input type="radio" 
					   data-bind="
							checkedValue: $data.paymentMethod,
							checked: $parent.chosenApmMethod,
							attr: {
								'id': $parent.getCode() + '_' + $data.paymentMethod,
								'name': $parent.getCode() + '_apm_payment_method'
							}" />
                
				<label class="label safecharge-apm-method-label" 
					   data-bind="attr: {'for': $parent.getCode() + '_' + $data.paymentMethod}">
					
					<span class="safecharge-apm-method-icon">
						<img onerror="this.style.display='none'" data-bind="
							attr: {
								'src': $data.logoURL,
								'alt' : $data.paymentMethodDisplayName.message
							}" />
					</span>
                    
					<span class="label safecharge-apm-method-label-title" data-bind="text: $t($data.paymentMethodDisplayName.message)"></span>
                </label>

                <!-- ko if: ($data.paymentMethod !== 'cc_card')-->
				<!-- ko if: ($parent.chosenApmMethod() === $data.paymentMethod)-->
				
				<!-- ko if: ($data.fields.length > 0) -->
				<fieldset data-bind="
					attr: {class: 'fieldset payment items ccard fields-' + $data.paymentMethod},
					foreach: $data.fields"
				>
					<div class="field number">
						<div class="control">
							<input class="input-text" data-bind="attr: {
								placeholder: name,
								type: type,
								name:  name
							}" required="" />
						</div>
					</div>
				</fieldset>
				<!--/ko-->
				
				<!-- ko if: ($data.fields.length == 0) -->
				<div class="safecharge-apm-method-note">
					<!-- ko i18n: "Please click 'Place Order' in order to proceed" -->
					<!-- /ko -->
				</div>
				<!--/ko-->
				<!--/ko-->
				
                <!--/ko-->

                <!-- ko if: ($data.paymentMethod === 'cc_card' && $parent.chosenApmMethod() === 'cc_card')-->
				<fieldset data-bind="
					attr: {
						class: 'fieldset payment items ccard ' + $parent.getCode(),
						id: $parent.getCode() + '_form_cc'
					}
					">
					<!-- ko if: ($parent.isShowLegend())-->
					<legend class="legend">
						<span>
							<!-- ko i18n: 'Credit Card Information' -->
							<!-- /ko -->
						</span>
					</legend><br />
					<!-- /ko -->

					<div class="field number">
						<div class="control">
							<input type="text" name="payment[cc_owner]" class="input-text" value="" data-bind="
								attr: {
									id: $parent.getCode() + '_cc_owner',
									title: $t('Credit Card Name'),
									placeholder: $t('Name On Card'),
									'data-container': $parent.getCode() + '-cc-owner',
									'data-validate': JSON.stringify({
										required :true
									})
								},
								value: $parent.creditCardOwner,
								valueUpdate: 'keyup'
						   " />
						</div>
					</div>
					
					<div id="cc_name_error_msg" class="sc_error">
						<div class="message error">
							<div data-bind="text: $t('Cardholder name is required')"></div>
						</div>
					</div>
					
					<div class="" tabindex="1" id="sc_cards_fields_holder">
						<div class="field number sc_fields" tabindex="1" id="sc_card_number_holder">
							<div id="sc_card_number"></div>
						</div>
						
						<div id="cc_num_error_msg" class="sc_error">
							<div class="message error">
								<div data-bind="text: $t('Wrong Card number, please check it again!')"></div>
							</div>
						</div>

						<div class="" tabindex="1" id="sc_date_cvv_holder">
							<div class="field number sc_fields" tabindex="1">
								<!--<div id="sc_card_cvc" data-bind="afterRender: $parent.attachFields()"></div>-->
								<div id="sc_card_cvc"></div>
							</div>
							
							<div class="field number sc_fields" tabindex="1">
								<div id="sc_card_expiry"></div>
							</div>
						</div>
						
						<div id="cc_error_msg" class="sc_error">
							<div class="message error">
								<div data-bind="text: $t('Wrong date or CVC, please check them again!')"></div>
							</div>
						</div>
					</div>
					
					<input type="hidden" name="payment[cc_token]" data-bind="
						attr: {
							id: $parent.getCode() + '_cc_token',
							'data-container': $parent.getCode() + '-cc-token',
						},
						value: $parent.creditCardToken,
						valueUpdate: 'change'
					" />
				</fieldset>
                <!--/ko-->
            </div>
        </div>
		
        <div class="payment-method-content">
            <div class="checkout-agreements-block">
                <!-- ko foreach: $parent.getRegion('before-place-order') -->
                <!-- ko template: getTemplate() -->
                <!-- /ko -->
                <!--/ko-->
            </div>
            
			<div class="actions-toolbar">
                <div class="primary">
                    <button data-role="review-save" type="submit" class="action primary checkout" data-bind="
                        attr: {
                            title: $t('Place Order')
                        },
                        click: placeOrder,
                        css: {
                            disabled: !isPlaceOrderActionAllowed()
                        } 
                    ">
                        <span data-bind="i18n: 'Place Order'"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
