<?xml version="1.0"?>
<!--
/**
 * Nuvei Payments adminhtml menu config.
 *
 * @category Nuvei
 * @package  Nuvei_Payments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Nuvei_Payments::sales_nuvei"
             title="Nuvei"
             translate="title"
             module="Nuvei_Payments"
             sortOrder="20"
             parent="Magento_Sales::sales"
             resource="Nuvei_Payments::sales_nuvei"/>
        <add id="Nuvei_Payments::sales_nuvei_request"
             title="Api Requests"
             translate="title"
             module="Nuvei_Payments"
             sortOrder="10"
             parent="Nuvei_Payments::sales_nuvei"
             action="nuvei/request"
             resource="Nuvei_Payments::sales_nuvei_request"/>
    </menu>
</config>